*{
    box-sizing: border-box;
}

/*image style*/

.logo img{
    width: 250px;
    height: 100px;
}

.form_login img{
    width: 250px;
    height: 100px;
    margin-left: 65px;
}

/*form*/

.form_login{
    border: solid 1px black;
    border-radius: 10px;
    background-color: #181c33;
    width: 400px;
    height: 450px;
    margin-left: 450px;
    margin-top: 20px;
    padding: 10px;
}

.form_login form{
    margin: 2px;
    height: 330px;
}

/*area user*/

.user{
    margin-top: 10px;
    padding: 10px;
}

.user label{
    color: white;
    text-align: center;
    font-size: 19px;
}

.user input{
    border: solid 1px black;
    width: 255px;
    padding: 2px;
    margin-left: 20px;
}

/*area password*/

.password{
    margin-top: 20px;
    padding: 10px;
}

.password label{
    color: white;
    text-align: center;
    font-size: 20px;
}

.password input{
    border: solid black 1px;
    width: 255px;
    padding: 2px;
    margin-left: 20px;
}

/*button submit and reset*/

.btn{
    margin-top: 50px;
    padding: 5px;
    margin-left: 50px;
}

button{
    width: 100px;
    height: 30px;
    margin-left: 20px;
    color: black;
    font-size: 15px;
    border-radius: 10px;
}

button:hover{
    background-color: rgba(00, 00, 80, 0.5);
    color: white;
}

/*reset and new user*/

.form_login .reset_info{
    display: flex;
    margin-left: 10px;
}

.reset_info p{
    margin-left: 50px;
}

.reset_info p a{
    text-decoration: none;
    color: white;
}

.reset_info p:hover{
    border-bottom: solid 1px orange;
}